body {
  color: #40514e;
  margin: 0px;
  text-align: center;
  font-family: "Merriweather", serif;
}

h1 {
  line-height: 2;
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  font-size: 5rem;
  color: #66bfbf;
}

ol,
ul {
  padding-left: 0;
  list-style-position: outside;
}


h2 {
  color: #66bfbf;
  font-family: "Montserrat", sans-serif;
  font-size: 1.7rem;
  font-weight: normal;
  padding-bottom: 3px;
  text-align: center;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}

p {
  line-height: 2;
  font-family: "Montserrat", sans-serif;
}

li {
  margin: 0 0 27px 0;
  font-family: "Montserrat", sans-serif;
}

a {
  color: black;
  font-family: "Montserrat", sans-serif;
  /* margin: 10px 20px; */
  /* text-decoration: none; */
}

a:hover {
  color: #eaf6f6;
}

hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 50px auto;
}

.top {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 50px;
  height: 20%;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.middle-container {
  margin: 50px auto 50px auto;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 30px 0 10px;
}

.experience-row {
  width: 50%;
  margin: 50px auto 50px auto;
  text-align: left;
}

.skills {
  width: 50%;
  margin: 50px auto 50px auto;
  text-align: left;
}

.company-img {
  float: left;
  width: 100px;
  margin-right: 30px;
}

.profile-img {
  border-radius: 50%;
}

@media screen and (max-width: 400px) {

  /* For mobile phones: */
  * {
    box-sizing: border-box;
  }

  .profile-img {
    display: block;
  }
}

.pro {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copy-right {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

/* Style all font awesome icons */
.fa {
  /* padding: 10px; */
  font-size: 20px;
  width: 17px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}
